/*Deck Area*/
.deck-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/*Suit Area*/
.suit-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 5px solid green;
}

.playerOne-suit {
  width: 30vw;
  height: 33.3vw;
  border: 3px solid blue;
}
.playerTwo-suit {
  width: 30vw;
  height: 33.3vw;
  margin-top: 33.3vw;
  border: 3px solid blue;
}

/*Deck Area*/
.deck-area {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.deck-cards {
  width: 100px;
  height: 140px;
  border: 2px dotted red;
  margin-bottom: 28em;
}
/*Suit Area*/
.suit-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.playerOne-suit {
  width: 30vw;
  height: 33.3vw;
}
.babes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
.baby-cards {
  width: 100px;
  height: 140px;
  border: 2px dotted red;
  margin: .75em;
}
.playerTwo-suit {
  width: 30vw;
  height: 33.3vw;
  margin-top: 28em;
}

/*Play Area*/
.play-area {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  width: 100%;
  height: 100%;
}
.playerOne {
  position: relative;
  width: 100%;
  height: 100%;
}
.play-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20em;
}

.card-field {
  width: 100px;
  height: 140px;
  border: 2px dotted red;
  margin: 8em 2em 2em 2em;
}
.playerTwo {
  position: absolute;
  width: 100%;
  height: 100%;
}

#card_samples {
  position: relative;
  height: 450px;
  width: 760px;
  margin: 0 auto;
  
  /*General Image*/
  img {
    position: absolute;
    width: 100px;
    height: 140px;
    transition: all 0.5s ease;
    opacity: 1;
    border-radius: 15px;
    box-shadow: 0 0 5px #000;
  }
  /*Cards*/
  img:nth-of-type(1) {
    left: 60px;
    bottom: 40px;
    transform: rotate(-34deg);
  }
  img:nth-of-type(2) {
    left: 57px;
    bottom: 45px;
    transform: rotate(-22deg);
  }
  img:nth-of-type(3) {
    left: 55px;
    bottom: 50px;
    transform: rotate(-35deg);
  }
  img:nth-of-type(4) {
    left: 35px;
    bottom: 50px;
    transform: rotate(-40deg);
  }
  img:nth-of-type(5) {
    left: 40px;
    bottom: 45px;
    transform: rotate(-50deg);
  }
  img:nth-of-type(6) {
    left: 45px;
    bottom: 40px;
    transform: rotate(-55deg);
  }
  img:nth-of-type(7) {
    left: 40px;
    bottom: 35px;
    transform: rotate(-60deg);
  }
  img:nth-of-type(8) {
    left: 35px;
    bottom: 30px;
    transform: rotate(-70deg);
  }
  /*Spread of Cards*/
  &.spread img:nth-of-type(1) {
    left: 40px;
    bottom: -75px;
    transform: rotate(-55deg);
  }
  &.spread img:nth-of-type(2) {
    left: 90px;
    bottom: -40px;
    transform: rotate(-35deg);
  }
  &.spread img:nth-of-type(3) {
    left: 160px;
    bottom: -20px;
    transform: rotate(-15deg);
  }
  &.spread img:nth-of-type(4) {
    left: 240px;
    bottom: -10px;
    transform: rotate(5deg);
  }
  &.spread img:nth-of-type(5) {
    left: 320px;
    bottom: -10px;
    transform: rotate(15deg);
  }
  &.spread img:nth-of-type(6) {
    left: 400px;
    bottom: -20px;
    transform: rotate(25deg);
  }
  &.spread img:nth-of-type(7) {
    left:480px;
    bottom: -60px;
    transform: rotate(35deg);
  }
  &.spread img:nth-of-type(8) {
    left: 530px;
    bottom: -100px;
    transform: rotate(50deg);
  }
  /*Spread Hover Effect*/
  &.spread img:hover {
    transform: rotate(0) scale(1.25) !important;
    z-index: +5;
    box-shadow: 0 0 25px #000;
  }
}
/*Scoreboard*/
.score-board {
  text-align: center;
  padding: 50px;
  float: left;
}
.player {
  display: inline-block;
  padding: 15px;
  h4 {
  font-weight: bold;
  font-size: 20px;
  }
}
.score-box {
  border: 3px solid #cf7a7d;
  font-size: 20px;
  padding: 50px;
  color: #EAC6C8;
}
