body {
  padding: 20px;
  background: #f0ece3 url(https://flowerillust.com/img/flower/flower3035.jpg) no-repeat bottom;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vw;
  display: flex;
}
