/*Logo*/
.logo {
	display: flex;
	justify-content: center;
}
/*Nav Bar*/
ul {
	list-style: none;
	li {
		margin: auto;
	}
}
.nav-bar{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	text-shadow: 2px 2px 2px #FFF;
	font-weight: bolder;
	font-size: 16px;
	a {
		text-decoration: none;
		color:#6F5E60;
		padding: 19px;
	}
}

.clickable:hover{
	transition: all 500ms ease;
	background:#EAC6C8;
	box-sizing:border-box;
}

.nav-item{
	text-align: center;
	line-height:40px;
	box-sizing:padding-box;
	transition: all 500ms ease;
}

button.clickable-button {
	text-decoration: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
}
