/*Nav Bar*/
.nav-bar{
	max-width:900px;
	margin:0 auto;
	border:1.5px solid #cf7a7d;
	display:flex;
  flex-direction: row;
}
a{
	text-decoration: none;
	color:#cf7a7d;
}
.nav-item{
	text-align: center;
	flex-grow: 1;
	line-height:40px;
	box-sizing:padding-box;
	transition: all 500ms ease;
}

.clickable:hover{
		transition: all 500ms ease;
		background:#EAC6C8;
		box-sizing:border-box;

}

@media screen and (max-width:600px){
	.nav-bar{
		flex-wrap:wrap;
		max-width:90%;
	}
	.nav-item{
		flex:1 1 50%;
	}
}
