<div class="container-about">
  <h2>About Us</h2>
  <div class="about-us">
    <div class="team-member">
      <img src="src/images/33.png" alt=""><h3>Anabel</h3>
      <p>Retro four dollar toast post-ironic, fam shaman kogi hoodie 8-bit man bun taiyaki chia hot chicken. Leggings austin cliche trust fund retro kogi. Hexagon +1 cold-pressed, plaid prism shoreditch cornhole artisan DIY poke portland taxidermy pour-over offal meggings. Vape gluten-free taxidermy, YOLO lo-fi tattooed tumeric put a bird on it 3 wolf moon adaptogen cornhole hammock ethical farm-to-table. </p>
    </div>
    <div class="team-member">
      <img src="src/images/33.png" alt=""><h3>Dylan</h3>
      <p>Retro four dollar toast post-ironic, fam shaman kogi hoodie 8-bit man bun taiyaki chia hot chicken. Leggings austin cliche trust fund retro kogi. Hexagon +1 cold-pressed, plaid prism shoreditch cornhole artisan DIY poke portland taxidermy pour-over offal meggings. Vape gluten-free taxidermy, YOLO lo-fi tattooed tumeric put a bird on it 3 wolf moon adaptogen cornhole hammock ethical farm-to-table.</p>
    </div>
    <div class="team-member">
      <img src="src/images/33.png" alt=""><h3>Ethan</h3>
      <p>Retro four dollar toast post-ironic, fam shaman kogi hoodie 8-bit man bun taiyaki chia hot chicken. Leggings austin cliche trust fund retro kogi. Hexagon +1 cold-pressed, plaid prism shoreditch cornhole artisan DIY poke portland taxidermy pour-over offal meggings. Vape gluten-free taxidermy, YOLO lo-fi tattooed tumeric put a bird on it 3 wolf moon adaptogen cornhole hammock ethical farm-to-table.</p>
    </div>
    <div class="team-member">
      <img src="src/images/33.png" alt="">
      <h3>Jenna</h3><p>Retro four dollar toast post-ironic, fam shaman kogi hoodie 8-bit man bun taiyaki chia hot chicken. Leggings austin cliche trust fund retro kogi. Hexagon +1 cold-pressed, plaid prism shoreditch cornhole artisan DIY poke portland taxidermy pour-over offal meggings. Vape gluten-free taxidermy, YOLO lo-fi tattooed tumeric put a bird on it 3 wolf moon adaptogen cornhole hammock ethical farm-to-table.</p>
    </div>
  </div>
</div>
