<h2>History of Hanafuda</h2>
  <div class="history">
    <p>
      <strong>Hanafuda</strong> is a card game originating out of Japan in the 17th centry.
      <strong>Hanafuda, </strong> (ハナフダ, translates to <em>"flower cards"</em>) uses cards with symbolic flowers to represent different ranks and suits rather than the traditional numbering found in Western playing cards.
    </p>
    <p>
      When Francis Xavier of Portugal arrived by ship in 1549, they brought "a set of 48 Portugese Hombre playing cards..." The game eventually became popular, especially among gamblers.  In 1633, Japan closed off all contact to the Western world. In the process, all foreign playing cards were banned. Despite the ban on foregin playing cards, gambling was still widely popular.  Due to what came to be a cat and mouse game between "rebellious gamblers" and the Japanese government, many new card designs were created.
    </p>
    <p>
      Throughout the <em>Edo Era</em>(roughly 1765-1788), a game called Mekuri Karuta emerged consisting of a 48-card deck divided into four sets of 12.  This game was widly popular among gamblers, up until it was banned in 1761, during the <em>Kensei Era</em>. Over the next few decades, the laws against gambling began to ease out as many realized that some form of card game should be played.  The result of this was a game called <em>Hanafuda</em>, a game that was a mix of traditional japanese games and Western-style playing cards.
    </p>

    <p>Moving forward, in 1889, Fusajiro Yamauchi founded Nintendo soley for the purpose of selling Hanafuda cards painted on mulberry tree bark.  After some time, the <strong>Yakuza</strong> began to use Hanafuda cards in their gambling parlors. Today, Nintendo is primarily known for video game production.</p>
  </div>
