
    <div class="play-area">
      <div id="card_samples">
        <div class="playerOne" *ngFor="let card of cards | async">
          <div><img src="{{card.image}}" alt=""/></div>
        </div>
        <!-- <div class="play-field">
          <div class="card-field"></div>
          <div class="card-field"></div>
          <div class="card-field"></div>
          <div class="card-field"></div>
          <div class="card-field"></div>
          <div class="card-field"></div>
        </div>
      </div>
    </div>
    <div class="suit-area">
      <div class="playerOne-suit">
        <div class="babes">
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
        </div>
      </div>
      <div class="playerTwo-suit">
        <div class="babes">
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
          <div class="baby-cards"></div>
        </div> -->
      </div>
    </div>
