<h2>PlayField</h2>


<div class="play-area">
  <div id="card_samples">
    <div class="playerOne" *ngFor="let card of cards">
      <img width="100px" src="{{card.img}}"/>
    </div>


    <!-- <div class="play-field">
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
    </div> -->
    <br><br><br><br>
    <!-- <div class="playerTwo" *ngFor="let card of cards">
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
      <img src="{{(card | async)?.img}}" alt=""/>
    </div> -->

    <div class="playerTwo" *ngFor="let card of cards">
      <img width="100px"[src]="card.img">
    </div>
  </div>
</div>
