<!-- <h2>PlayField</h2>

<div class="deck-area">
  <div class="deck-cards"></div>
</div>
<div *ngFor="let card of cards" (click)="goToDetailPage(card)">
  <div><em>{{card.image}}</em><div>
</div>
<!-- <div class="play-area">
  <div id="card_samples">
    <div class="playerOne">
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
    </div>
    <div class="play-field">
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
      <div class="card-field"></div>
    </div>
    <div class="playerTwo">
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
      <img src="images/33.png" alt=""/>
    </div>
  </div>
</div> -->
