<div class="row">
    <ul class="list-group">
        <li draggable *ngFor="let card of cards" [dragData]="card" class="list-group-card">{{card.image}}</li>
    </ul>
</div>

<div class="col-sm-3">
<div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
    <div class="panel-heading">Add Suits Here</div>
        <div class="panel-body">
            <li *ngFor="let card of droppedCards" class="list-group-card">{{card.image}}</li>
        </div>
    </div>
</div>
<!-- <div class="suit-area">
    <div class="playerOne-suit">
      <div class="babes">
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
      </div>
    </div>
    <div class="playerTwo-suit">
      <div class="babes">
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
        <div class="baby-cards"></div>
      </div>
    </div>
  </div> -->
