<body>
  <div class="logo"><img src="src/images/Hanafuda3.png" alt=""></div>
  <div class="navigation">
    <ul class="nav-bar">
      <li class="clickable"><a routerLink="about" id="about"><a href="" class="nav-item">ABOUT US</a></a></li>
      <li class="clickable"><a routerLink="history" id="history"><a href="" class="nav-item">HISTORY</a></a></li>
      <li class="clickable"><a routerLink="how-to-play" id="how-to-play"><a href="" class="nav-item">HOW TO PLAY</a></a></li>
    </ul>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>
