<div>
  <h2>How To Play:</h2><br>
    <h3>**Basic Rules**</h3>
      <div class="">
        <ul>
          <li>The game uses a deck of 48 cards.</li>
          <li>Game is played with two players.</li>
          <li>Eight cards are dealt face-down to each player.</li>
          <li>The player with the earliest birthday month is the dealer.(This simply determines who goes first.)</li>
          <li>Each round, a player picks a card from the deck.</li>
          <li>The player takes the card that was dealt and tries to match a card to a card on the playing field. If there is a matching suit on the playing field, the player takes the card(s). For example, "Matsu" would match a "Poetry Ribbon" in the January suite.  The player would keep these cards.</li>
          <li>In the case that there isn't a match, the card is expelled to the center of the table.</li>
          <li>If a player is dealt 4 pairs OR 2 suits, the player automatically wins the round.</li>

          STOP LINE 26
        </ul>
      </div>

</div>
