<div class="container-how">
  <h2>How To Play:</h2>
  <div class="rules">
    <h3>**Basic Rules**</h3>
    <p>There are 48 cards within the Hanafuda deck; and, there are 12 suits. Each suit includes four cards; every suit is beautifully designed in a designated way (e.g., every card within one suit may look different, yet each card includes similar-looking elements —per say, flowers). Each suit belongs to one month within the twelve-month year; though this is lovely, you don't need to memorize the designated month of a suit, in order to play the game.</p>

    <p>You and your opponent shall share the dates in which you were born. Beginning with the month of January, whoever has an earlier birth month, within the year, shall be the “dealer” and divide, shuffle, and distribute the cards.</p>

    <p>Once the cards are shuffled, eight cards are distributed to each of the two players. The rest of the deck shall sit to the side.</p>

    <p>Individually, each player must survey his or her eight cards, checking to see whether he or she has more than one card that belongs to a suit. If an individual does, they shall place their various matching cards aside, in the particular suit.</p>

    <p>The first player shall pull one card from the deck, thereafter checking to see if it belongs to a collection/suit of cards in which they have placed aside —or, whether it belongs to a single card within their hand, which can then be placed aside. No matter the case, the individual player must also place one of their cards in the middle (i.e., community area), unless all of the individual’s cards belong inside a suit that has one or more cards.</p>

    <p>Both players take turns; each time, each player pulls a new card from the deck, places any cards inside a new (or growing) collection/suit, and places one card inside the community pile. This game is played until either all of the cards have been distributed between the two players —or, until either player’s hand is empty.</p>

    <p>Every suit has a different value. For instance, some cards within a suit are worth one point, whereas other cards within a different suit may have a much greater value. At the end of the game, each player’s collected suits are added up, accordingly. Irregardless of the number of cards/suits a player has collected, the winner is the individual with the greatest amount of points.</p>
  </div>
</div>
